	/* General */
	a,
	button {transition: background 500ms ease, color 250ms ease;}
	p {margin: 10px 0 20px 0;}
	.app-wrap {overflow: hidden;}

	/* Buttons */
	.button-wrap {position: relative; z-index: 1; padding-right: 120px;}
	.button-wrap button {position: absolute; right: 0; padding: 6px 10px; margin: 3px 0; font-size: 0.75em; text-transform: capitalize; width: 110px; text-transform: capitalize;}
	.button-wrap button.btn-link {text-align: right; width: auto;}
		/* Download All Button */
		.download-all button {width: 100%; padding: 10px 15px; text-transform: capitalize;}
	
	/* Panel */
	.tab-content {margin-bottom: 50px; opacity: 0; position: absolute; left: -9999em; overflow:hidden; transition: opacity 500ms ease;}
	.tab-content.active {opacity: 1; position: static;}
	
	/* Tabs */
	.nav-pills {margin-top: 20px;}
	.nav-pills li a {text-transform: uppercase; color: #fff; background: rgba(51,122,183,0.5); margin: 0 6px 10px 0;}
	.nav-pills li a:hover {background: rgba(51,122,183,1); border-color: transparent;}
	
	/* Heading */
	.text {display: inline-block; word-break: break-word; padding-left: 25px;}
	.panel-heading {position: relative; min-height: 48px; border: none; background: #f6f6f6; border-top: 1px solid #ddd; border-radius: 0; padding-top: 6px; padding-bottom: 6px;}
    .item:first-child .panel-heading {border-top: none;}

	/* Expand Button */
	.expand {position: absolute; top: 6px; left: 0; display:inline-block; cursor: pointer; color: #666;}
	.expand > span {display:inline-block; font-size: 1.2857em; width: 22px; height: 22px; line-height: 22px;}
	.expand .collapse-icon, 
	.expand.expanded .expand-icon {display: none;}
	.expand.expanded .collapse-icon {display: inline;}
		/* Expandable items */
		.expandable {transition: height 350ms ease; overflow:hidden; height: 0;}
		.expandable.expanded {}
		
	/* URLs */
	.url {padding-left: 25px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 0.75em;}
    
	/* Progress Bar */
	.progress {position: absolute; z-index: 0; bottom: 0; left: 0; right: 0; border-radius: 0; height: 100%; margin: 0; opacity: 0.35}
    .progress-bar {-webkit-box-shadow: none; box-shadow: none;}
	.progress-bar.complete {width: 100% !important;}
		
	/* Categories */
	.categories {padding-top: 0; padding-bottom: 0;}
    .category {position: relative;}
	.sub-parent {padding: 6px 0; min-height: 48px; display: flex; align-items: center;}
	.sub-parent .text {text-transform: capitalize;}
	.sub-parent button {}
	.category:before {content: ""; border-bottom: 1px solid #ddd; display: block; margin-left: -15px; margin-right: -15px;}
	.category:last-child:after {display: none;}
		/* Category Expand Button */
		.categories .expand {top: 13px;}
        /* Category Progress bar */
        .category .progress {left: -15px; right: -15px; height: 3px; opacity: 1;}
		
	/* Stylesheet Items */
	.stylesheet-item-wrap {padding-left: 25px;}
	.stylesheet-item {position: relative; padding: 15px 0; border-top: 1px solid #eee; min-height: 72px;}
	.stylesheet-item .text {padding: 0 105px 0 0; font-weight: bold;}
    .stylesheet-item button {top: 20px;}
	.stylesheet-item img {max-width: 100%; margin: 10px 0;}
    .stylesheet-item a {cursor: pointer;}
	.stylesheet-item .url {padding-left: 0;}
		/* Font example */
		.stylesheet-item .font-example {font-size: 24px;}