<html ng-app="assetDownloader">
	<head>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<div class="container">
			<h1>Asset Downloader</h1>
			<p>Files will be saved to your default Downloads directory in a folder named "<span id="folderName"></span>".
			<div id="sources"></div>
		</div>

		<div class="container" ng-controller="Assets as assets" id="assetDownloader">

			<!-- Stylesheet - repeatable for each stylesheet -->
			<div class="row" 
				ng-repeat="stylesheet in stylesheets">
				<div class="col-xs-12">
					<div class="panel panel-default">
						
						<!-- Heading -->
						<div class="panel-heading">
							<div class="button-wrap">
								<!-- Expand Button -->
								<span class="expand" 
									ng-click="stylesheet.expanded = assets.toggleBoolean(stylesheet.expanded);" 
									ng-class="stylesheet.expanded ? 'expanded' : ''">
									<span 
										ng-show="assets.hasAssets(stylesheet.categories.images) || assets.hasAssets(stylesheet.categories.fonts)">
										<i class="expand-icon">+</i>
										<i class="collapse-icon">-</i>
									</span>
								</span><!-- Text --><span class="text">
									{{assets.getFileName(stylesheet.stylesheet)}}
								</span><!-- Download Button --><button class="btn btn-primary" 
									ng-click="stylesheet.progressIsVisible = assets.toggleBoolean(stylesheet.progressIsVisible);assets.downloadAllAssets(stylesheet.categories.images, 'images', $index);assets.downloadAllAssets(stylesheet.categories.fonts, 'fonts')" 
									ng-show="assets.hasAssets(stylesheet.categories.images) || assets.hasAssets(stylesheet.categories.fonts)">
									Download All
								</button>
								<div class="url"><a target="_blank" href="{{stylesheet.stylesheet}}">{{stylesheet.stylesheet}}</a></div>
							</div>
							<!-- Progress Bar -->
							<div class="progress" ng-class="stylesheet.progressIsVisible ? '' : 'hidden'">
								<div class="progress-bar progress-bar-success" ng-class="stylesheet.downloaded ? '' : 'progress-bar-striped active'" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{stylesheet.downloadPercent}}%">
									<span class="sr-only">{{stylesheet.downloadPercent}}% Complete (success)</span>
								</div>
							</div>
						</div>
						
						<!-- Categories wrapper - images and fonts -->
						<div class="categories panel-body expandable" 
							ng-class="stylesheet.expanded ? 'expanded' : ''">
							
							<!-- Repeat for images and fonts categories -->
							<div class="category {{category_name}}" ng-repeat="(category_name, category) in stylesheet.categories">
								<div class="sub-parent button-wrap">
									<!-- Expand button -->
									<span class="expand" 
										ng-click="category.expanded = assets.toggleBoolean(category.expanded);" ng-class="category.expanded ? 'expanded' : ''">
										<!-- Icons -->
										<span ng-show="assets.hasAssets(category)">
											<i class="expand-icon">+</i>
											<i class="collapse-icon">-</i>
										</span>
									</span><!-- Text --><span class="text">
										{{category_name}}
									</span>
									<!-- Download Button -->
									<button class="btn btn-primary" 
										ng-click="assets.downloadAllAssetsCategory(category, category_name)" 
										ng-show="assets.hasAssets(category)">
										Download All
									</button>
									<!-- Progress Bar -->
									<div class="progress" ng-class="category.progressIsVisible ? '' : 'hidden'">
										<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{category.downloadPercent}}%">
											<span class="sr-only">{{category.downloadPercent}}% Complete (success)</span>
										</div>
									</div>
								</div>
								<!-- Asset items -->
								<div class="stylesheet-item-wrap expandable" 
									ng-class="category.expanded ? 'expanded' : ''">
									<div class="stylesheet-item button-wrap" 
										ng-repeat="item in category">
										<!-- Filename text -->
										<span class="text">
											{{assets.getFileName(item)}}
										</span>
										<!-- Download Button -->
										<button class="btn btn-default" 
											ng-click="assets.downloadSingleAssetApp(item, category_name)">
											Download
										</button>
										<div ng-bind-html="assets.getPreviewElement(category_name, item, $index) | sanitize"></div>

									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			
		</div>

		<script src="js/angular.min.js"></script> 
		<script src="js/app.js"></script> 
		<script src="js/contentScript.js"></script>
	</body>
</html>