<html ng-app="assetDownloader">
	<head>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<div class="container app-wrap" ng-controller="Assets as assets" id="assetDownloader">

			<!-- Tabs -->
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-pills">
						<li role="presentation" ng-class="{active: assets.isSet(resource_name)}" ng-repeat="(resource_name, resource) in resources" ng-click="assets.setTab(resource_name)">
							<a href="#">{{resource_name}}</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="row" ng-show="folderName.length > -1">
				<div class="col-xs-12">
					<p>Files will be saved to your default Downloads directory in a folder named <strong>{{folderName}}</strong>.
				</div>
			</div>

			<!-- Stylesheet - repeatable for each stylesheet -->
			<div class="row">
				<div class="col-xs-12">
					<div class="tab-content panel panel-default" ng-class="{active: assets.isSet('stylesheets')}"  ng-show="resources.stylesheets.length > 0">
						<div class="panel-body download-all">
							<!-- Download Button -->
							<button class="btn btn-danger" 
								ng-click="assets.downloadAllAssets(resources.stylesheets, 'stylesheets', -1)">
								Download All Stylesheets
							</button>
						</div>
						<div class="item" ng-repeat="stylesheet in resources.stylesheets" ng-show="stylesheet.url.length > 0">
							<!-- Heading -->
							<div class="panel-heading">
								<div class="button-wrap">
									<!-- Expand Button -->
									<span class="expand" 
										ng-click="stylesheet.expanded = assets.toggleBoolean(stylesheet.expanded);" 
										ng-class="stylesheet.expanded ? 'expanded' : ''">
										<span 
											ng-show="assets.hasAssets(stylesheet.categories.images) || assets.hasAssets(stylesheet.categories.fonts)">
											<i class="expand-icon">+</i>
											<i class="collapse-icon">-</i>
										</span>
									</span><!-- Text --><span class="text">
										{{assets.getFileName(stylesheet.url)}}
									</span><!-- Download Button --><button class="btn btn-danger" 
										ng-click="assets.downloadFontsAndImages(stylesheet.categories, $index)" 
										ng-show="assets.hasAssets(stylesheet.categories.images) || assets.hasAssets(stylesheet.categories.fonts)">
										Download Assets
									</button>
									<div class="url"><a target="_blank" href="{{stylesheet.url}}" title="{{stylesheet.url}}">{{stylesheet.url}}</a></div>
								</div>
								<!-- Progress Bar -->
								<div class="progress" ng-class="stylesheet.progressIsVisible ? '' : 'hidden'">
									<div class="progress-bar" ng-class="(stylesheet.categories.images.downloaded || stylesheet.categories.fonts.downloaded) ? 'complete progress-bar-success' : 'progress-bar-striped active'" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 
										{{((assets.convertUndefinedToNum(stylesheet.categories.images.downloadPercent) / 100 * stylesheet.categories.images.length 
												+ assets.convertUndefinedToNum(stylesheet.categories.fonts.downloadPercent) / 100 * stylesheet.categories.fonts.length) 
												/ (stylesheet.categories.images.length + stylesheet.categories.fonts.length) 
											) * 100}}%">
									</div>
								</div>
							</div>
							
							<!-- Categories wrapper - images and fonts -->
							<div class="categories panel-body expandable" 
								ng-class="stylesheet.expanded ? 'expanded' : ''" collapse="!stylesheet.expanded">
								
								<!-- Repeat for images and fonts categories -->
								<div class="category {{category_name}}" ng-repeat="(category_name, category) in stylesheet.categories" ng-show="category.length > 0">
									<div class="sub-parent button-wrap">
										<!-- Expand button -->
										<span class="expand" 
											ng-click="category.expanded = assets.toggleBoolean(category.expanded); assets.getFontDataUris(category, resources.stylesheets.indexOf(stylesheet), category_name)" ng-class="category.expanded ? 'expanded' : ''">
											<!-- Icons -->
											<span ng-show="assets.hasAssets(category)">
												<i class="expand-icon">+</i>
												<i class="collapse-icon">-</i>
											</span>
										</span><!-- Text --><span class="text">
											{{category_name}}
										</span>
										<!-- Download Button -->
										<button class="btn btn-default" 
											ng-click="assets.downloadAllAssets(category, category_name, resources.stylesheets.indexOf(stylesheet))" 
											ng-show="assets.hasAssets(category)">
											Download {{category_name}}
										</button>
									</div>
									<!-- Progress Bar -->
									<div class="progress" ng-class="category.progressIsVisible ? '' : 'hidden'">
										<div class="progress-bar" ng-class="category.downloaded ? 'complete progress-bar-success' : 'progress-bar-striped active'" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{category.downloadPercent}}%">
											<span class="sr-only">{{category.downloadPercent}}% Complete (success)</span>
										</div>
									</div>
									<!-- Asset items -->
									<div class="stylesheet-item-wrap expandable" 
										ng-class="category.expanded ? 'expanded' : ''" collapse="!category.expanded">
										<div class="stylesheet-item" 
											ng-repeat="item in category">
											<div ng-show="category_name == 'images'">
												<img src="{{item.url}}">
											</div>
											<div ng-show="category_name == 'fonts'">
												<div class='font-example' ng-class="'class-' + assets.getFileName(item.url).split('.')[0]">Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
												<!-- Filename text -->
											</div>
											<div class="url">
												{{assets.getFileName(item.url)}} - <a ng-click="assets.downloadSingleAssetApp(item.url, category_name); assets.preventDefaultHref($event)" title="{{item.url}}" href="{{item.url}}">Download</a>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>

			
					<!-- Scripts, Images, and Fonts Tabs -->
					<div ng-repeat="(resource_name, resource) in resources" ng-if="resource_name!='stylesheets'" class="tab-content panel panel-default" ng-class="{active: assets.isSet(resource_name)}">
						<div class="panel-body download-all">
							<!-- Download Button -->
							<button class="btn btn-danger" 
								ng-click="assets.downloadAllAssets(resource, resource_name, -1)">
								Download All {{resource_name}}
							</button>
						</div>
						<!-- Asset items -->
						<div class="panel-body">
							<div class="stylesheet-item button-wrap" 
								ng-repeat="item in resource" ng-show="item.url.length > 0">
								<!-- Images -->
								<div ng-if="resource_name=='images'">
									<img src="{{item.url}}">
								</div>
								<!-- Scripts -->
								<div ng-if="resource_name=='scripts'">
									<div class="url"><a href="{{item.url}}" target="_blank">{{item.url}}</a></div>
								</div>
								<!-- Fonts -->
								<div ng-if="resource_name=='fonts'">
									<style>
										.class-{{assets.getFileName(item.url).split('.')[0]}} {
											font-family: font{{assets.getFileName(item.url).split('.')[0]}};
										}
										@font-face {
											font-family: font{{assets.getFileName(item.url).split('.')[0]}};
											src: url({{item.dataUri}})
										}
									</style>
									<div class='font-example' ng-class="'class-' + assets.getFileName(item.url).split('.')[0]">Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
								</div>
								<div class="url">
									{{assets.getFileName(item.url)}} - <a ng-click="assets.downloadSingleAssetApp(item.url, resource_name); assets.preventDefaultHref($event)" title="{{item.url}}" href="{{item.url}}">
										Download</a>
								</div>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
			
			
		</div>

		<script src="js/angular.min.js"></script> 
		<script src="js/app.js"></script> 
	</body>
</html>